.pizza-img {
  background-image: url("/self-practice-1/pizza exercise/img/pizza.png");
  height: 346px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.pizza-img::after {
  content: "Welcome to Pizza World!";
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: black;
  background-color: white;
  font-size: 45px;
  font-weight: bold;
  opacity: 75%;
}