:root {
  /* Colors */
  /* background */
  --bg-clr: #f0f0f0;
  /* border */
  --border-clr: ;
  /* text colors */
  --light-text-clr: ;
  --dark-font-clr: ;
  /* circle colors */
  --red: ;
  --orange: ;
  --green: ;
  --turq: ;
  /* fonts */
  --abel: "Abel", sans-serif;
  --aton: "Anton", sans-serif;
}

/* added body background color */
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-clr);
  font-family: var(--abel);
}

.container-fluid {
  background-color: var(--bg-clr);
}

/* Changed logo height */
.logo {
  height: 3rem;
  width: 3rem;
}

/* changed codeup design font */
.d-none {
  font-family: "Abel", sans-serif;
  font-weight: bold;
}

.codeup {
  display: none;
}
@media screen and (max-width: 500px) {
}

.button-design {
  background-color: #e6563b; /* Green */
  height: 70px;
  width: 70px;
  color: white;
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  border-radius: 50%;
}

.button-develop {
  background-color: #eb9d3a; /* Green */
  width: 70px;
  height: 70px;
  border: none;
  color: white;
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  border-radius: 50%;
}

.button-support {
  background-color: #7cb06c; /* Green */
  width: 70px;
  height: 70px;
  border: none;
  color: white;
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  border-radius: 50%;
}

.button-host {
  background-color: #00aba9; /* Green */
  width: 70px;
  height: 70px;
  border: none;
  color: white;
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  border-radius: 50%;
}
.font-family {
  font-family: "Anton", sans-serif;
  font-weight: bolder;
}
.abel {
  font-family: "Abel", sans-serif;
}
.font-size {
  font-size: 12px;
}
