// * color mixins
@mixin bg-color {
  color: map-get($color, bg-color);
}

@mixin nav-clr {
  background-color: map-get($color, nav-clr);
}

// * flex box mixins
@mixin flex {
  display: $f;
}

@mixin row {
  flex-direction: $fdr;
}

@mixin column {
  flex-direction: map-get($flexDirection, col);
}

@mixin jcCenter {
  justify-content: map-get($justContent, center);
}

@mixin jcStart {
  justify-content: flex-start;
}

@mixin aiStart {
  align-items: flex-start;
}

@mixin aiCenter {
  align-items: center;
}

@mixin flexRowCenterCenter {
  @include flex;
  @include row;
  @include jcCenter;
  @include aiCenter;
}

@mixin flexRowStartCenter {
  @include flex;
  @include row;
  @include jcStart;
  @include aiCenter;
}

@mixin flexColStartStart {
  @include flex;
  @include column;
  @include jcStart;
  @include aiStart;
}

@mixin flexColStartCenter {
  @include flex;
  @include column;
  @include jcStart;
  @include aiCenter;
}

@mixin flexRowStartEndCenter {
  @include flex;
  @include row;
}
