@import "./functions";

// * color mixin
@mixin color($color-name) {
  color: map-get($color, $color-name);
}

// * flexbox mixin
@mixin flexbox($dis, $fDir, $justC, $aI, $wrap) {
  display: getFlexbox($display, $dis);
  flex-direction: getFlexbox($flexDir, $fDir);
  justify-content: getFlexbox($justifyContent, $justC);
  align-items: getFlexbox($alignItems, $aI);
  flex-wrap: getFlexbox($flexWrap, $wrap);
}
