// colors
$color: (
  bg-color: #0d1117,
  nav-clr: #161b22,
  git-white: #f0f6fc,
  bdr-clr: #30363d,
  beta-clr: #3fb950,
  anchor: #58a6ff,
);

// * font families
$font-family: (
  serif: "sans-serif",
  roboto: "Roboto",
  source: "Source Sans Pro",
);
// * font info
$font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
);

// =========================== //

// * flexbox
// display
$display: (
  block: block,
  flex: flex,
  inline: inline,
  inline-block: inline-block,
  inline-flex: inline-flex,
  none: none,
);
$f: flex;

// flex-direction
$flexDirection: (
  row: row,
  col: column,
  row-r: row-reverse,
  col-r: column-reverse,
);

// flex-wrap
$flexWrap: (
  flex-wrap: wrap,
  nowrap: nowrap,
);

// flex-direction
$fdr: row;
$fdc: column;
// justify-content
$fs: flex-start;
// align items
$aic: center;

$justifyContent: (
  center: center,
  flex-start: flex-start,
  flex-end: flex-end,
  space-between: space-between,
  space-around: space-around,
  space-evenly: space-evenly,
);

$alignItems: (
  center: center,
  flex-start: flex-start,
  flex-end: flex-end,
  space-around: space-around,
  space-between: space-between,
  stretch: stretch,
);

@mixin dfFdrJcsAic {
  display: $f;
  flex-direction: $fdr;
  justify-content: $fs;
  align-items: $aic;
}
