@import "./variables";
@import "./defaults";
@import "./mixins";
@import "./functions";

.container-nav-left {
  @include flexbox(flex, row, start, center, nowrap);
  width: 100%;
}

.git-svg {
  fill: getColor(git-white);
  padding-left: 2em;
  height: 2em !important;
}

::placeholder {
  color: getColor(git-white);
  opacity: 0.75;
}

.search {
  width: 245px;
  color: getColor(git-white);
  background: getColor(bg-color);
  border: 1px solid getColor(bdr-clr);
  border-radius: 6px;
  padding: 6px 12px;
  margin-left: 17px;
  user-select: none;
}

.nav-links {
  @include flexbox(flex, row, center, center, nowrap);
  list-style: none;
  padding: 0;
  margin: 1em;
  li {
    font-size: 14px;
    margin-right: 1em;
    a {
      color: map-get($color, git-white);
      text-decoration: none;
    }
    a:hover {
      opacity: 0.75;
    }
  }
}

.container-user-tools {
  @include flexbox(flex, row, flex-end, center, nowrap);
  padding-right: 2em;
  svg {
    fill: getColor(git-white);
  }
  .bell {
    margin-right: 1em;
  }
  .dropdown-caret {
    border-bottom-color: #000;
    border-left-color: #000;
    border-right-color: #000;
    border-style: solid;
    border-width: 4px;
    content: "";
    @include flexbox(inline-block, row, none, none, nowrap);
    height: 0;
    width: 0;
    vertical-align: middle;
    margin: 0 1em 0 0;
  }
  img {
    border-radius: 100%;
  }
}

.unread-indicator {
  position: absolute;
  inset: 0 0 0 96.7em;
  margin-top: 15px;
  z-index: 10;
  height: 10px;
  width: 10px;
  background-image: linear-gradient(#54a3ff, #006eed);
  background-clip: padding-box;
  border: 2px solid map-get($color, bg-color) !important;
  border-radius: 50%;
}

.caret-2 {
  margin-left: 4px;
  
}

.mid-container {
  margin: 24px 0 0 0;
}

.container-links {
  @include flexbox(flex, row, center, center, nowrap);
  // ul of ^
  ul {
    @include flexbox(flex, none, none, none, nowrap);
    color: map-get($color, git-white);
    padding: 0;
    margin: 0;
    // li of ^
    li {
      margin-right: 1em;
      // anchor of ^
      a {
        @include flexbox(flex, row, flex-start, center, nowrap);
        color: map-get($color, git-white);
        text-decoration: none;
        svg {
          height: 16px;
          width: 16px;
          fill: map-get($color, git-white);
          opacity: 0.5;
          margin-right: 8px;
        }
      }
      a:hover {
        background: #21262d;
      }
    }
  }
}

.container-left {
  img {
    height: 296px;
    width: 296px;
    border-radius: 100%;
  }
}

.container-bio {
  @include flexbox(flex, column, none, none, nowrap);
  .container-names {
    @include flexbox(flex, column, start, start, nowrap);
    .name {
      font-size: 24px;
      padding: 0;
      margin: 0;
    }
    .user-name {
      color: #8b949e;
      font-size: 20px;
      padding: 0;
      margin: 0;
    }
  }
  .bio-note {
    margin-bottom: 16px;
  }
  button {
    height: 32px !important;
    width: 296px !important;
    color: #c9d1d9;
    font-size: 14px;
    background: #21262d;
    border: 1px solid #363b42;
    border-radius: 6px;
    cursor: pointer;
  }
  button:hover {
    filter: brightness(1.5);
    transition: 150ms;
  }
}

.follow-info {
  @include flexbox(flex, row, none, none, nowrap);
  ul {
    @include flexbox(flex, row, start, center, nowrap);
    li {
      list-style: none;
      svg {
        opacity: 0.5;
        fill: map-get($color, git-white);
      }
    }
  }
}

.user-info {
  @include flexbox(flex, row, start, center, nowrap);
  padding: 0;
  margin: 0;
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
      svg {
        fill: map-get($color, git-white);
        opacity: 0.5;
      }
      span {
        color: map-get($color, git-white) !important;
        opacity: 1;
      }
    }
  }
}

.container-achievements {
  @include flexbox(flex, column, flex-start, flex-start, nowrap);
  a {
    color: map-get($color, git-white);
    text-decoration: none;
    span {
      background: transparent;
      font-size: 16px;
    }
  }
  img {
    height: 64px;
    width: 64px;
  }
  .x2 {
    @include flexbox(flex, row, center, center, nowrap);
    height: 20px;
    width: 30.69px;
    position: absolute;
    top: 704px;
    left: 40px;
    color: black;
    font-size: 12px;
    background: #f9bfa7;
    border-radius: 10em;
    box-shadow: 0 3px 6px #010409;
  }
}

.beta-feedback {
  @include flexbox(flex, row, flex-start, center, nowrap);
  padding: 0;
  margin: 0;
  .beta {
    width: fit-content;
    color: map-get($color, beta-clr);
    font-size: 12px;
    border: 1px solid map-get($color, beta-clr);
    border-radius: 10em;
    padding: 4px 8px;
    margin-right: 0 4px 0 0;
  }
  .send-feedback {
    color: map-get($color, anchor);
    font-size: 12px;
  }
}

// organizations
.container-organizations {
  user-select: none;
  ul {
    padding: 0;
    @include flexbox(flex, row, none, none, nowrap);
    li {
      @include flexbox(flex, row, none, none, nowrap);
      padding: 2px;
      a {
        img {
          height: 32px !important;
          width: 32px !important;
          border-radius: 6px;
        }
      }
    }
  }
}
