// colors
$color: (
  bg-color: #0d1117,
  nav-clr: #161b22,
  git-white: #f0f6fc,
  bdr-clr: #30363d,
  beta-clr: #3fb950,
  anchor: #58a6ff,
);
// * font families
$font-family: (
  serif: "sans-serif",
  roboto: "Roboto",
  source: "Source Sans Pro",
);
// * font info
$font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
);
// * flexbox
// display
$f: flex;
// flex-wrap
$fw: flex-wrap;
$nfw: nowrap;
// flex-direction
$fdr: row;
$fdc: column;
// justify-content
$fs: flex-start;

* {
  padding: 0;
  margin: 0;
  user-select: none;
}

body {
  background-color: map-get($color, bg-color);
  color: map-get($color, git-white);
  font-family: map-get($font-family, source);
  font-size: 16px;
  font-weight: map-get($font-weights, regular);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

nav {
  display: $f;
  flex-direction: $fdr;
  justify-content: $fs;
  align-items: center;
  height: 60px !important;
  width: 100%;
  background: map-get($color, nav-clr);
  // padding: 16px 32px; // questionable padding
}

li {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

.container-nav-left {
  display: $f;
  flex-direction: $fdr;
  justify-content: $fs;
  align-items: center;
  width: 100%;
}

.git-svg {
  fill: map-get($color, git-white);
  padding-left: 2em;
  height: 2em !important;
}

::placeholder {
  color: map-get($color, git-white);
  opacity: 0.75;
}

.search {
  width: 245px;
  color: map-get($color, git-white);
  background-color: map-get($color, bg-color);
  border: 1px solid map-get($color, bdr-clr);
  border-radius: 6px;
  padding: 6px 12px;
  margin-left: 17px;
  user-select: none;
}

.nav-links {
  display: $f;
  flex-direction: $fdr;
  justify-content: $fs;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 1em;
  li {
    font-size: 14px;
    margin-right: 1em;
    a {
      color: map-get($color, git-white);
      text-decoration: none;
    }
    a:hover {
      opacity: 0.75;
    }
  }
}

.container-user-tools {
  display: $f;
  flex-direction: $fdr;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2em;
  svg {
    fill: map-get($color, git-white);
  }
  .bell {
    margin-right: 1em;
  }
  .dropdown-caret {
    border-bottom-color: #0000;
    border-left-color: #0000;
    border-right-color: #0000;
    border-style: solid;
    border-width: 4px;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
    margin-right: 1em;
  }
  img {
    border-radius: 100%;
  }
}

.unread-indicator {
  position: absolute;
  inset: 0 0 0 96.7em;
  margin-top: 15px;
  z-index: 10;
  height: 10px;
  width: 10px;
  background-image: linear-gradient(#54a3ff, #006eed);
  background-clip: padding-box;
  border: 2px solid map-get($color, bg-color) !important;
  border-radius: 50%;
}

.caret-2 {
  margin-left: 4px;
}

.container-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  // ul of ^
  ul {
    display: flex;
    color: map-get($color, git-white);
    padding: 0;
    margin: 0;
    // li of ^
    li {
      margin-right: 1em;
      // anchor of ^
      a {
        color: map-get($color, git-white);
        text-decoration: none;
      }
      a:hover {
        background: #21262d;
      }
    }
  }
}

.container-left {
  img {
    height: 296px;
    width: 296px;
    border-radius: 100%;
  }
}

.container-bio {
  display: flex;
  flex-direction: column;
  .name {
    font-size: 24px;
    padding: 0;
    margin: 0;
  }
  .user-name {
    color: #8b949e;
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
  button {
    height: 32px !important;
    width: 296px !important;
    color: #c9d1d9;
    font-size: 14px;
    background: #21262d;
    border: 1px solid #363b42;
    border-radius: 6px;
    cursor: pointer;
  }
  button:hover {
    filter: brightness(1.5);
    transition: 150ms;
  }
}

.follow-info {
  display: flex;
  flex-direction: row;
  ul {
    display: flex;
    li {
      list-style: none;
      svg {
        fill: map-get($color, git-white);
      }
    }
  }
}

.user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
      svg {
        fill: map-get($color, git-white);
        opacity: 0.5;
      }
      span {
        color: map-get($color, git-white) !important;
        opacity: 1;
      }
    }
  }
}

.container-achievements {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  a {
    color: map-get($color, git-white);
    text-decoration: none;
    span {
      background: transparent;
      font-size: 16px;
    }
  }
  img {
    height: 64px;
    width: 64px;
  }
  .x2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 30.69px;
    position: absolute;
    top: 704px;
    left: 40px;
    color: black;
    font-size: 12px;
    background: #f9bfa7;
    border-radius: 10em;
    box-shadow: 0 3px 6px #010409;
  }
}

.beta-feedback {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  .beta {
    width: fit-content;
    color: map-get($color, beta-clr);
    font-size: 12px;
    border: 1px solid map-get($color, beta-clr);
    border-radius: 10em;
    padding: 4px 8px;
    margin-right: 0 4px 0 0;
  }
  .send-feedback {
    color: map-get($color, anchor);
    font-size: 12px;
  }
}

// organizations
.container-organizations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  user-select: none;
  ul {
    padding: 0;
    display: flex;
    li {
      display: flex;
      flex-direction: row;
      padding: 2px;
      a {
        img {
          height: 32px !important;
          width: 32px !important;
          border-radius: 6px;
        }
      }
    }
  }
}
