$bg-color: #000;
$font-color: #333;
$font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
);

body {
  background-color: $bg-color;
  color: $font-color;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: map-get($font-weights, regular);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
