@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

$font-family: (
  manrope: "Manrope",
  sans-serif: "sans-serif",
);

$gradients: (
  text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%),
  bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%),
  bg: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%),
  footer: radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%),
);

$colors: (
  bg: #040c18,
  footer: #031b34,
  blog: #042c54,
  text: #81afdd,
  subtext: #ff8a71,
);
