:root {
  --nav-clr: #161b22;
  --bg-clr: #0d1117;
  --git-svg: #f0f6fc;
  --src-txt: #c2c3c5;
  --src-bdr: #30363d;
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  font-family: sans-serif;
  background: var(--bg-clr);
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
  height: 3.75em;
  width: 100%;
  font-size: 14px;
  line-height: 1.5;
  background: var(--nav-clr);
  padding: 16px 32px;
  margin: 0;
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.git-svg {
  fill: var(--git-svg);
  padding: 0;
  margin-right: 16px;
  user-select: none;
}

::placeholder {
  color: var(--src-txt);
}

.search-bar {
  color: var(--src-txt);
  background: var(--bg-clr);
  border: solid 1px var(--src-bdr);
  padding: 0.5em;
  margin: 0;
  transition: 250ms all;
  user-select: none;
}

.container-links {
  width: 100%;
}

ul {
  display: flex;
  margin: 0;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  list-style: none;
  font-size: 0.75em;
  font-weight: bold;
  margin-right: 5em;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.svg {
  fill: #fff;
}

.pfp {
  height: 20px;
  width: 20px;
  border-radius: 100%;
}
