body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #0f0f0f;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  overflow: hidden;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 10em; */
  margin: 10em;
}

.container-buttons {
  display: flex;
}

.container-buttons > button {
  height: 3em;
  width: auto;
  margin: 0.5em;
}

.container-subscribe-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em 1em 1em;
}

.subscribe-old {
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #f00;
  border: none;
  border-radius: 0.25em;
  padding: 1em 1.5em;
  cursor: pointer;
}

.subscribe-old-subscribed {
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #303030;
  border: none;
  border-radius: 0.25em;
  padding: 1em 1.5em;
  margin: 1em 0 0 0;
  cursor: pointer;
}

.container-new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em 1em 1em;
}

.subscribe-new {
  display: flex;
  align-items: center;
  color: #000;
  font-weight: bold;
  background-color: #f1f1f1;
  padding: 1em 1.5em;
  border-radius: 3ex;
  cursor: pointer;
}

.subscribe-new:hover {
  background-color: #e1e1e1;
}

.subscribe-new-subscribed {
  display: flex;
  align-items: center;
  color: #000;
  font-weight: bold;
  background-color: #f1f1f1;
  padding: 1em 1.5em;
  border-radius: 3ex;
  margin: 1em 0 0 0;
  cursor: pointer;
}